.wrapper {
    padding-top: 50px;
    /* background:#6CADDC; */
    background: lightskyblue;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
  }
  
  h1 {
    font-family: 'ZCOOL KuaiLe', cursive;
    color: orangered;
  }

  h2 {
    font-family: 'ZCOOL KuaiLe', cursive;
    color: white;
  }